.container { 
    height: 600px;
     width: 400px;
      border: 1px solid black;
       border-radius: 5%;
        margin: auto;
         overflow: hidden;
         } 
         .head {
             height: 180px;
              width: auto;
               background-color: #ff0044;
                align-content: center;
             } 
             .img1 {
                 height: 100px;
                  width: 100px; 
                  border: 10px solid white; 
                  border-radius: 50%;
                   position: relative;
                    top: 120px;
                     margin-left: 200px; 
                     transform: translate(-50%, 0);
                     } 
                     .name
                      {
                         color: #ff0044; 
                         font-size: x-large; 
                         font-weight: bold;
                          margin-left: 233px; 
                          transform: translate(-50%, 0);
                           margin-top: 15%;
                         } 
                         .dsg {
                             margin-left: 224px; 
                             font-size: large;
                              transform: translate(-50%, 0);
                               margin-top: 5px; 
                            } 
                            ._16k {
                                 font-size: x-large; 
                                 font-weight: bold;
                                  color: black;
                                   padding-top: 70px; 
                                   padding-left: 90px; 
                                } 
                                ._852 { 
                                    font-size: x-large;
                                     font-weight: bold;
                                      color: black;
                                       padding-left: 100px;
                                        padding-top: 70px;
                                     } .follow {
                                         color: #ff0044;
                                          font-size: x-large;
                                           font-weight: bold;
                                            padding-left: 70px;
                                             padding-top: 20px; 
                                            } .btn1 { 
                                                color: white; 
                                                font-size: larger; 
                                                padding-left: 20px; 
                                                padding-right: 20px;
                                                 border-radius: 10px; 
                                                 border: 1px solid #ff0044;
                                                  background-color: #ff0044;
                                                 }
                                                  .btn2 {
                                                     color: #ff0044;
                                                      font-size: larger; 
                                                      border-radius: 10px; 
                                                      padding-left: 20px; 
                                                      
                                                      padding-right: 20px;
                                                       border: 1px solid #ff0044;
                                                        background-color: white;
                                                     }